<div class="row">
  <div class="col-md-4">
    <button class="btn btn-primary btn-atras" [routerLink]="''">Atras</button>
  </div>
  <div class="col-md-7 head-row">
    <h4 class="add-tittle tittle">Add New To Do</h4>
  </div>
</div>

  <div class="home-display">

    <hr class="line">
    <!--Pending Button-->
    <form action="">

      <div class="input-row">
        <input class="form-control input-text" type="text" placeholder="Add New Todo">
        <input class="btn btn-info input-button" type="button" value="Add">
      </div>
      <br>
      <div>
        <app-add-to-do-list></app-add-to-do-list>
      </div>
    </form>
  </div>
