<h4 class="features-tittle">Here Some Features 2</h4>

  <div class="card-container home-display">

    <hr class="line">
    <!--Pending Button-->
    <a class="card" rel="noopener" [routerLink]="['/pending']">
      <span>Pending</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
      </svg>
    </a>

    <!--New To Do Button-->

    <a class="card" rel="noopener" [routerLink]="['/add']">
      <span>New To Do</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <!--History Button-->

    <a class="card" rel="noopener" [routerLink]="['/history']">
      <span>History</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
  </div>



